<div class="modal-body">
  <div class="modal-title">
    <h3>Login</h3>
  </div>
  <form class="hs-data-form">
    <div class="form-group">
      <label for="credentials-email">Email address</label>
      <input type="email" data-ng-model="mlc.credentials.email" class="form-control" id="credentials-email" data-ng-blur="mlc.isValidData('email')" data-ng-enter="mlc.login()" placeholder="Email">
      <div data-ng-show="mlc.messages.email" class="text-center text-danger col-md-12">
        <p><strong data-ng-bind="mlc.messages.email"></strong></p>
      </div>
    </div>
    <div class="form-group">
      <label for="credentials-pass">Password</label>
      <input type="password" data-ng-model="mlc.credentials.password" class="form-control" id="credentials-pass" data-ng-blur="mlc.isValidData('password')" data-ng-enter="mlc.login()" placeholder="Password">
      <div data-ng-show="mlc.messages.password" class="text-center text-danger col-md-12">
        <p><strong data-ng-bind="mlc.messages.password"></strong></p>
      </div>
    </div>
    <div id="errorMessage" data-ng-show="mlc.messages.error" class="text-center text-danger">
      <strong data-ng-bind="mlc.messages.error"></strong>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button id="signupbutton" class="btn btn-warning pull-left" type="button" data-ng-click="mlc.openSignup()">SignUp</button>
  <button id="recoverybutton" class="btn btn-warning pull-left" type="button" data-ng-click="mlc.openRecovery()">Password recovery</button>
  <button id="logginbutton" class="btn btn-warning" type="button" data-ng-click="mlc.login()">Login</button>
</div>
