<main>
  <div class="hs-header-container">
    <div class="container" data-ng-include="'/modules/homeswitch/templates/header.template.html'"></div>
    <div data-ng-include="'/modules/homeswitch/templates/menu.template.html'"></div>
    <div class="hs-form-container">
      <div class="container">
        <article>
          <div class="row">
            <div class="col-md-12 col-md-offset-3">
              <h3>Reset user password</h3>
            </div>
            <form name="userForm" class="col-md-12 hs-data-form">
              <div class="col-md-6 col-md-offset-3">
                <div class="form-group">
                  <label for="password">New password</label>
                  <input class="form-control" id="password" name="password" type="password" data-ng-model="prc.credentials.newPassword" data-ng-blur="prc.isValidData('password')" data-ng-disabled="!prc.enabled" data-ng-enter="prc.doReset()" placeholder="Insert new password" required>
                  <div id="errorPassword" data-ng-show="prc.messages.password" class="text-center text-danger col-md-12">
                    <p><strong data-ng-bind="prc.messages.password"></strong></p>
                  </div>
                </div>
                <div class="form-group">
                  <label for="verifypassword">Verify password</label>
                  <input class="form-control" id="verifypassword" name="verifypassword" type="password" data-ng-model="prc.credentials.verifyPassword" data-ng-blur="prc.isValidData('check')" data-ng-disabled="!prc.enabled" data-ng-enter="prc.doReset()" placeholder="Retype password" required>
                  <div id="errorVerify" data-ng-show="prc.messages.check" class="text-center text-danger col-md-12">
                    <p><strong data-ng-bind="prc.messages.check"></strong></p>
                  </div>
                </div>
                <div id="errorMessage" data-ng-show="prc.messages.error" class="text-center text-danger">
                  <strong data-ng-bind="prc.messages.error"></strong>
                </div>
                <div id="successMessage" data-ng-show="prc.messages.success" class="text-center text-success">
                  <strong data-ng-bind="prc.messages.success"></strong>
                </div>
              </div>
            </form>
          </div>
          <div class="row">
            <br/>
            <div class="col-md-6 col-md-offset-3">
              <button type="submit" id="doReset" name="submit" class="btn col btn-md btn-primary" data-ng-disabled="!prc.enabled" data-ng-click="prc.doReset()">{{prc.buttonText}}</button>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
  <div data-ng-include="'/modules/homeswitch/templates/footer.template.html'"></div>
</main>
