<div class="modal-body">
  <div class="modal-title">
    <h3>Password recovery</h3>
  </div>
  <form class="hs-data-form">
    <div class="form-group">
      <label for="credentials-email">Type your email account</label>
      <input type="email" data-ng-model="mprc.credentials.email" class="form-control" id="credentials-email" data-ng-blur="mprc.isValidData('email')" data-ng-disabled="!mprc.enabled" data-ng-enter="mprc.doRecovery()" placeholder="Email">
      <div data-ng-show="mprc.messages.email" class="text-center text-danger col-md-12">
        <p><strong data-ng-bind="mprc.messages.email"></strong></p>
      </div>
    </div>
    <div id="errorMessage" data-ng-show="mprc.messages.error" class="text-center text-danger">
      <strong data-ng-bind="mprc.messages.error"></strong>
    </div>
    <div id="successMessage" data-ng-show="mprc.messages.success" class="text-center text-success">
      <strong data-ng-bind="mprc.messages.success"></strong>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-warning col-md-12" type="button" id="recovery" data-ng-disabled="!mprc.enabled" data-ng-click="mprc.doRecovery()">Recover</button>
</div>
