<div class="modal-body">
  <div class="modal-title">
    <h3>SignUp</h3>
  </div>
  <form name="userForm" class="hs-data-form">
    <div class="form-group">
        <label for="name">Name</label>
        <input class="form-control" id="name" name="name" type="text" data-ng-model="sc.credentials.name" data-ng-blur="sc.isValidData('name')" data-ng-enter="sc.signup()" placeholder="Name" required>
        <div id="nameError" data-ng-show="sc.messages.name" class="text-center text-danger col-md-12">
          <p><strong data-ng-bind="sc.messages.name"></strong></p>
        </div>
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input class="form-control" type="email" id="email" name="email" data-ng-model="sc.credentials.email" data-ng-blur="sc.isValidData('email')" data-ng-enter="sc.signup()" placeholder="Email" required>
      <div id="emailError" data-ng-show="sc.messages.email" class="text-center text-danger col-md-12">
        <p><strong data-ng-bind="sc.messages.email"></strong></p>
      </div>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input class="form-control" id="password" name="password" type="password" data-ng-model="sc.credentials.password" data-ng-blur="sc.isValidData('password')" data-ng-enter="sc.signup()" placeholder="Password" required>
      <div id="passwordError" data-ng-show="sc.messages.password" class="text-center text-danger col-md-12">
        <p><strong data-ng-bind="sc.messages.password"></strong></p>
      </div>
    </div>
    <div id="errorMessage" data-ng-show="sc.messages.error" class="text-center text-danger">
      <strong data-ng-bind="sc.messages.error"></strong>
    </div>
    <div id="successMessage" data-ng-show="sc.messages.success" class="text-center text-success">
      <strong data-ng-bind="sc.messages.success"></strong>
    </div>
  </form>
</div>
<div class="modal-footer text-center">
  <button data-ng-click="sc.signup()" id="signup" class="btn btn-warning center-block col-md-12" data-ng-disabled="!sc.enabled">Signup!</button>
</div>
