/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$bocina-name: 'bocina';
$bocina-x: 474px;
$bocina-y: 326px;
$bocina-offset-x: -474px;
$bocina-offset-y: -326px;
$bocina-width: 56px;
$bocina-height: 56px;
$bocina-total-width: 533px;
$bocina-total-height: 482px;
$bocina-image: '../images/sprite.png';
$bocina: (474px, 326px, -474px, -326px, 56px, 56px, 533px, 482px, '../images/sprite.png', 'bocina', );
$box-s-g-name: 'box-s-g';
$box-s-g-x: 423px;
$box-s-g-y: 404px;
$box-s-g-offset-x: -423px;
$box-s-g-offset-y: -404px;
$box-s-g-width: 25px;
$box-s-g-height: 23px;
$box-s-g-total-width: 533px;
$box-s-g-total-height: 482px;
$box-s-g-image: '../images/sprite.png';
$box-s-g: (423px, 404px, -423px, -404px, 25px, 23px, 533px, 482px, '../images/sprite.png', 'box-s-g', );
$box-s-w-name: 'box-s-w';
$box-s-w-x: 448px;
$box-s-w-y: 404px;
$box-s-w-offset-x: -448px;
$box-s-w-offset-y: -404px;
$box-s-w-width: 25px;
$box-s-w-height: 23px;
$box-s-w-total-width: 533px;
$box-s-w-total-height: 482px;
$box-s-w-image: '../images/sprite.png';
$box-s-w: (448px, 404px, -448px, -404px, 25px, 23px, 533px, 482px, '../images/sprite.png', 'box-s-w', );
$box-s-name: 'box-s';
$box-s-x: 473px;
$box-s-y: 404px;
$box-s-offset-x: -473px;
$box-s-offset-y: -404px;
$box-s-width: 25px;
$box-s-height: 23px;
$box-s-total-width: 533px;
$box-s-total-height: 482px;
$box-s-image: '../images/sprite.png';
$box-s: (473px, 404px, -473px, -404px, 25px, 23px, 533px, 482px, '../images/sprite.png', 'box-s', );
$box-w-name: 'box-w';
$box-w-x: 300px;
$box-w-y: 0px;
$box-w-offset-x: -300px;
$box-w-offset-y: 0px;
$box-w-width: 92px;
$box-w-height: 86px;
$box-w-total-width: 533px;
$box-w-total-height: 482px;
$box-w-image: '../images/sprite.png';
$box-w: (300px, 0px, -300px, 0px, 92px, 86px, 533px, 482px, '../images/sprite.png', 'box-w', );
$box-name: 'box';
$box-x: 200px;
$box-y: 200px;
$box-offset-x: -200px;
$box-offset-y: -200px;
$box-width: 92px;
$box-height: 86px;
$box-total-width: 533px;
$box-total-height: 482px;
$box-image: '../images/sprite.png';
$box: (200px, 200px, -200px, -200px, 92px, 86px, 533px, 482px, '../images/sprite.png', 'box', );
$calendar-g-name: 'calendar-g';
$calendar-g-x: 270px;
$calendar-g-y: 404px;
$calendar-g-offset-x: -270px;
$calendar-g-offset-y: -404px;
$calendar-g-width: 28px;
$calendar-g-height: 32px;
$calendar-g-total-width: 533px;
$calendar-g-total-height: 482px;
$calendar-g-image: '../images/sprite.png';
$calendar-g: (270px, 404px, -270px, -404px, 28px, 32px, 533px, 482px, '../images/sprite.png', 'calendar-g', );
$calendar-name: 'calendar';
$calendar-x: 242px;
$calendar-y: 404px;
$calendar-offset-x: -242px;
$calendar-offset-y: -404px;
$calendar-width: 28px;
$calendar-height: 32px;
$calendar-total-width: 533px;
$calendar-total-height: 482px;
$calendar-image: '../images/sprite.png';
$calendar: (242px, 404px, -242px, -404px, 28px, 32px, 533px, 482px, '../images/sprite.png', 'calendar', );
$car-alt-mobile-name: 'car-alt-mobile';
$car-alt-mobile-x: 0px;
$car-alt-mobile-y: 404px;
$car-alt-mobile-offset-x: 0px;
$car-alt-mobile-offset-y: -404px;
$car-alt-mobile-width: 50px;
$car-alt-mobile-height: 50px;
$car-alt-mobile-total-width: 533px;
$car-alt-mobile-total-height: 482px;
$car-alt-mobile-image: '../images/sprite.png';
$car-alt-mobile: (0px, 404px, 0px, -404px, 50px, 50px, 533px, 482px, '../images/sprite.png', 'car-alt-mobile', );
$car-alt-name: 'car-alt';
$car-alt-x: 0px;
$car-alt-y: 200px;
$car-alt-offset-x: 0px;
$car-alt-offset-y: -200px;
$car-alt-width: 100px;
$car-alt-height: 100px;
$car-alt-total-width: 533px;
$car-alt-total-height: 482px;
$car-alt-image: '../images/sprite.png';
$car-alt: (0px, 200px, 0px, -200px, 100px, 100px, 533px, 482px, '../images/sprite.png', 'car-alt', );
$car-s-g-name: 'car-s-g';
$car-s-g-x: 43px;
$car-s-g-y: 454px;
$car-s-g-offset-x: -43px;
$car-s-g-offset-y: -454px;
$car-s-g-width: 25px;
$car-s-g-height: 21px;
$car-s-g-total-width: 533px;
$car-s-g-total-height: 482px;
$car-s-g-image: '../images/sprite.png';
$car-s-g: (43px, 454px, -43px, -454px, 25px, 21px, 533px, 482px, '../images/sprite.png', 'car-s-g', );
$car-s-w-name: 'car-s-w';
$car-s-w-x: 498px;
$car-s-w-y: 404px;
$car-s-w-offset-x: -498px;
$car-s-w-offset-y: -404px;
$car-s-w-width: 25px;
$car-s-w-height: 21px;
$car-s-w-total-width: 533px;
$car-s-w-total-height: 482px;
$car-s-w-image: '../images/sprite.png';
$car-s-w: (498px, 404px, -498px, -404px, 25px, 21px, 533px, 482px, '../images/sprite.png', 'car-s-w', );
$car-s-name: 'car-s';
$car-s-x: 500px;
$car-s-y: 382px;
$car-s-offset-x: -500px;
$car-s-offset-y: -382px;
$car-s-width: 25px;
$car-s-height: 21px;
$car-s-total-width: 533px;
$car-s-total-height: 482px;
$car-s-image: '../images/sprite.png';
$car-s: (500px, 382px, -500px, -382px, 25px, 21px, 533px, 482px, '../images/sprite.png', 'car-s', );
$car-w-name: 'car-w';
$car-w-x: 100px;
$car-w-y: 100px;
$car-w-offset-x: -100px;
$car-w-offset-y: -100px;
$car-w-width: 100px;
$car-w-height: 100px;
$car-w-total-width: 533px;
$car-w-total-height: 482px;
$car-w-image: '../images/sprite.png';
$car-w: (100px, 100px, -100px, -100px, 100px, 100px, 533px, 482px, '../images/sprite.png', 'car-w', );
$car-name: 'car';
$car-x: 100px;
$car-y: 0px;
$car-offset-x: -100px;
$car-offset-y: 0px;
$car-width: 100px;
$car-height: 100px;
$car-total-width: 533px;
$car-total-height: 482px;
$car-image: '../images/sprite.png';
$car: (100px, 0px, -100px, 0px, 100px, 100px, 533px, 482px, '../images/sprite.png', 'car', );
$check-name: 'check';
$check-x: 474px;
$check-y: 382px;
$check-offset-x: -474px;
$check-offset-y: -382px;
$check-width: 26px;
$check-height: 21px;
$check-total-width: 533px;
$check-total-height: 482px;
$check-image: '../images/sprite.png';
$check: (474px, 382px, -474px, -382px, 26px, 21px, 533px, 482px, '../images/sprite.png', 'check', );
$clean-w-name: 'clean-w';
$clean-w-x: 300px;
$clean-w-y: 178px;
$clean-w-offset-x: -300px;
$clean-w-offset-y: -178px;
$clean-w-width: 81px;
$clean-w-height: 92px;
$clean-w-total-width: 533px;
$clean-w-total-height: 482px;
$clean-w-image: '../images/sprite.png';
$clean-w: (300px, 178px, -300px, -178px, 81px, 92px, 533px, 482px, '../images/sprite.png', 'clean-w', );
$clean-name: 'clean';
$clean-x: 300px;
$clean-y: 86px;
$clean-offset-x: -300px;
$clean-offset-y: -86px;
$clean-width: 81px;
$clean-height: 92px;
$clean-total-width: 533px;
$clean-total-height: 482px;
$clean-image: '../images/sprite.png';
$clean: (300px, 86px, -300px, -86px, 81px, 92px, 533px, 482px, '../images/sprite.png', 'clean', );
$config-w-name: 'config-w';
$config-w-x: 182px;
$config-w-y: 300px;
$config-w-offset-x: -182px;
$config-w-offset-y: -300px;
$config-w-width: 70px;
$config-w-height: 70px;
$config-w-total-width: 533px;
$config-w-total-height: 482px;
$config-w-image: '../images/sprite.png';
$config-w: (182px, 300px, -182px, -300px, 70px, 70px, 533px, 482px, '../images/sprite.png', 'config-w', );
$config-name: 'config';
$config-x: 252px;
$config-y: 300px;
$config-offset-x: -252px;
$config-offset-y: -300px;
$config-width: 70px;
$config-height: 70px;
$config-total-width: 533px;
$config-total-height: 482px;
$config-image: '../images/sprite.png';
$config: (252px, 300px, -252px, -300px, 70px, 70px, 533px, 482px, '../images/sprite.png', 'config', );
$domain-logo-name: 'domain-logo';
$domain-logo-x: 392px;
$domain-logo-y: 358px;
$domain-logo-offset-x: -392px;
$domain-logo-offset-y: -358px;
$domain-logo-width: 64px;
$domain-logo-height: 16px;
$domain-logo-total-width: 533px;
$domain-logo-total-height: 482px;
$domain-logo-image: '../images/sprite.png';
$domain-logo: (392px, 358px, -392px, -358px, 64px, 16px, 533px, 482px, '../images/sprite.png', 'domain-logo', );
$email-name: 'email';
$email-x: 300px;
$email-y: 270px;
$email-offset-x: -300px;
$email-offset-y: -270px;
$email-width: 29px;
$email-height: 29px;
$email-total-width: 533px;
$email-total-height: 482px;
$email-image: '../images/sprite.png';
$email: (300px, 270px, -300px, -270px, 29px, 29px, 533px, 482px, '../images/sprite.png', 'email', );
$facebook-name: 'facebook';
$facebook-x: 180px;
$facebook-y: 404px;
$facebook-offset-x: -180px;
$facebook-offset-y: -404px;
$facebook-width: 31px;
$facebook-height: 32px;
$facebook-total-width: 533px;
$facebook-total-height: 482px;
$facebook-image: '../images/sprite.png';
$facebook: (180px, 404px, -180px, -404px, 31px, 32px, 533px, 482px, '../images/sprite.png', 'facebook', );
$fire-s-g-name: 'fire-s-g';
$fire-s-g-x: 373px;
$fire-s-g-y: 404px;
$fire-s-g-offset-x: -373px;
$fire-s-g-offset-y: -404px;
$fire-s-g-width: 25px;
$fire-s-g-height: 24px;
$fire-s-g-total-width: 533px;
$fire-s-g-total-height: 482px;
$fire-s-g-image: '../images/sprite.png';
$fire-s-g: (373px, 404px, -373px, -404px, 25px, 24px, 533px, 482px, '../images/sprite.png', 'fire-s-g', );
$fire-s-w-name: 'fire-s-w';
$fire-s-w-x: 398px;
$fire-s-w-y: 404px;
$fire-s-w-offset-x: -398px;
$fire-s-w-offset-y: -404px;
$fire-s-w-width: 25px;
$fire-s-w-height: 24px;
$fire-s-w-total-width: 533px;
$fire-s-w-total-height: 482px;
$fire-s-w-image: '../images/sprite.png';
$fire-s-w: (398px, 404px, -398px, -404px, 25px, 24px, 533px, 482px, '../images/sprite.png', 'fire-s-w', );
$fire-s-name: 'fire-s';
$fire-s-x: 348px;
$fire-s-y: 404px;
$fire-s-offset-x: -348px;
$fire-s-offset-y: -404px;
$fire-s-width: 25px;
$fire-s-height: 24px;
$fire-s-total-width: 533px;
$fire-s-total-height: 482px;
$fire-s-image: '../images/sprite.png';
$fire-s: (348px, 404px, -348px, -404px, 25px, 24px, 533px, 482px, '../images/sprite.png', 'fire-s', );
$fire-w-name: 'fire-w';
$fire-w-x: 392px;
$fire-w-y: 235px;
$fire-w-offset-x: -392px;
$fire-w-offset-y: -235px;
$fire-w-width: 75px;
$fire-w-height: 73px;
$fire-w-total-width: 533px;
$fire-w-total-height: 482px;
$fire-w-image: '../images/sprite.png';
$fire-w: (392px, 235px, -392px, -235px, 75px, 73px, 533px, 482px, '../images/sprite.png', 'fire-w', );
$fire-name: 'fire';
$fire-x: 392px;
$fire-y: 162px;
$fire-offset-x: -392px;
$fire-offset-y: -162px;
$fire-width: 75px;
$fire-height: 73px;
$fire-total-width: 533px;
$fire-total-height: 482px;
$fire-image: '../images/sprite.png';
$fire: (392px, 162px, -392px, -162px, 75px, 73px, 533px, 482px, '../images/sprite.png', 'fire', );
$flag-name: 'flag';
$flag-x: 100px;
$flag-y: 404px;
$flag-offset-x: -100px;
$flag-offset-y: -404px;
$flag-width: 48px;
$flag-height: 48px;
$flag-total-width: 533px;
$flag-total-height: 482px;
$flag-image: '../images/sprite.png';
$flag: (100px, 404px, -100px, -404px, 48px, 48px, 533px, 482px, '../images/sprite.png', 'flag', );
$globe-w-name: 'globe-w';
$globe-w-x: 392px;
$globe-w-y: 0px;
$globe-w-offset-x: -392px;
$globe-w-offset-y: 0px;
$globe-w-width: 82px;
$globe-w-height: 81px;
$globe-w-total-width: 533px;
$globe-w-total-height: 482px;
$globe-w-image: '../images/sprite.png';
$globe-w: (392px, 0px, -392px, 0px, 82px, 81px, 533px, 482px, '../images/sprite.png', 'globe-w', );
$globe-name: 'globe';
$globe-x: 392px;
$globe-y: 81px;
$globe-offset-x: -392px;
$globe-offset-y: -81px;
$globe-width: 82px;
$globe-height: 81px;
$globe-total-width: 533px;
$globe-total-height: 482px;
$globe-image: '../images/sprite.png';
$globe: (392px, 81px, -392px, -81px, 82px, 81px, 533px, 482px, '../images/sprite.png', 'globe', );
$googleplus-name: 'googleplus';
$googleplus-x: 442px;
$googleplus-y: 308px;
$googleplus-offset-x: -442px;
$googleplus-offset-y: -308px;
$googleplus-width: 32px;
$googleplus-height: 32px;
$googleplus-total-width: 533px;
$googleplus-total-height: 482px;
$googleplus-image: '../images/sprite.png';
$googleplus: (442px, 308px, -442px, -308px, 32px, 32px, 533px, 482px, '../images/sprite.png', 'googleplus', );
$light-s-g-name: 'light-s-g';
$light-s-g-x: 372px;
$light-s-g-y: 300px;
$light-s-g-offset-x: -372px;
$light-s-g-offset-y: -300px;
$light-s-g-width: 17px;
$light-s-g-height: 25px;
$light-s-g-total-width: 533px;
$light-s-g-total-height: 482px;
$light-s-g-image: '../images/sprite.png';
$light-s-g: (372px, 300px, -372px, -300px, 17px, 25px, 533px, 482px, '../images/sprite.png', 'light-s-g', );
$light-s-w-name: 'light-s-w';
$light-s-w-x: 456px;
$light-s-w-y: 376px;
$light-s-w-offset-x: -456px;
$light-s-w-offset-y: -376px;
$light-s-w-width: 17px;
$light-s-w-height: 25px;
$light-s-w-total-width: 533px;
$light-s-w-total-height: 482px;
$light-s-w-image: '../images/sprite.png';
$light-s-w: (456px, 376px, -456px, -376px, 17px, 25px, 533px, 482px, '../images/sprite.png', 'light-s-w', );
$light-s-name: 'light-s';
$light-s-x: 372px;
$light-s-y: 325px;
$light-s-offset-x: -372px;
$light-s-offset-y: -325px;
$light-s-width: 17px;
$light-s-height: 25px;
$light-s-total-width: 533px;
$light-s-total-height: 482px;
$light-s-image: '../images/sprite.png';
$light-s: (372px, 325px, -372px, -325px, 17px, 25px, 533px, 482px, '../images/sprite.png', 'light-s', );
$light-w-name: 'light-w';
$light-w-x: 474px;
$light-w-y: 87px;
$light-w-offset-x: -474px;
$light-w-offset-y: -87px;
$light-w-width: 59px;
$light-w-height: 87px;
$light-w-total-width: 533px;
$light-w-total-height: 482px;
$light-w-image: '../images/sprite.png';
$light-w: (474px, 87px, -474px, -87px, 59px, 87px, 533px, 482px, '../images/sprite.png', 'light-w', );
$light-name: 'light';
$light-x: 474px;
$light-y: 0px;
$light-offset-x: -474px;
$light-offset-y: 0px;
$light-width: 59px;
$light-height: 87px;
$light-total-width: 533px;
$light-total-height: 482px;
$light-image: '../images/sprite.png';
$light: (474px, 0px, -474px, 0px, 59px, 87px, 533px, 482px, '../images/sprite.png', 'light', );
$linkedin-name: 'linkedin';
$linkedin-x: 148px;
$linkedin-y: 404px;
$linkedin-offset-x: -148px;
$linkedin-offset-y: -404px;
$linkedin-width: 32px;
$linkedin-height: 32px;
$linkedin-total-width: 533px;
$linkedin-total-height: 482px;
$linkedin-image: '../images/sprite.png';
$linkedin: (148px, 404px, -148px, -404px, 32px, 32px, 533px, 482px, '../images/sprite.png', 'linkedin', );
$lock-alt-mobile-name: 'lock-alt-mobile';
$lock-alt-mobile-x: 50px;
$lock-alt-mobile-y: 404px;
$lock-alt-mobile-offset-x: -50px;
$lock-alt-mobile-offset-y: -404px;
$lock-alt-mobile-width: 50px;
$lock-alt-mobile-height: 50px;
$lock-alt-mobile-total-width: 533px;
$lock-alt-mobile-total-height: 482px;
$lock-alt-mobile-image: '../images/sprite.png';
$lock-alt-mobile: (50px, 404px, -50px, -404px, 50px, 50px, 533px, 482px, '../images/sprite.png', 'lock-alt-mobile', );
$lock-alt-name: 'lock-alt';
$lock-alt-x: 0px;
$lock-alt-y: 0px;
$lock-alt-offset-x: 0px;
$lock-alt-offset-y: 0px;
$lock-alt-width: 100px;
$lock-alt-height: 100px;
$lock-alt-total-width: 533px;
$lock-alt-total-height: 482px;
$lock-alt-image: '../images/sprite.png';
$lock-alt: (0px, 0px, 0px, 0px, 100px, 100px, 533px, 482px, '../images/sprite.png', 'lock-alt', );
$lock-name: 'lock';
$lock-x: 200px;
$lock-y: 0px;
$lock-offset-x: -200px;
$lock-offset-y: 0px;
$lock-width: 100px;
$lock-height: 100px;
$lock-total-width: 533px;
$lock-total-height: 482px;
$lock-image: '../images/sprite.png';
$lock: (200px, 0px, -200px, 0px, 100px, 100px, 533px, 482px, '../images/sprite.png', 'lock', );
$logo-alt-name: 'logo-alt';
$logo-alt-x: 0px;
$logo-alt-y: 376px;
$logo-alt-offset-x: 0px;
$logo-alt-offset-y: -376px;
$logo-alt-width: 228px;
$logo-alt-height: 28px;
$logo-alt-total-width: 533px;
$logo-alt-total-height: 482px;
$logo-alt-image: '../images/sprite.png';
$logo-alt: (0px, 376px, 0px, -376px, 228px, 28px, 533px, 482px, '../images/sprite.png', 'logo-alt', );
$logo-name: 'logo';
$logo-x: 228px;
$logo-y: 376px;
$logo-offset-x: -228px;
$logo-offset-y: -376px;
$logo-width: 228px;
$logo-height: 28px;
$logo-total-width: 533px;
$logo-total-height: 482px;
$logo-image: '../images/sprite.png';
$logo: (228px, 376px, -228px, -376px, 228px, 28px, 533px, 482px, '../images/sprite.png', 'logo', );
$map-g-name: 'map-g';
$map-g-x: 0px;
$map-g-y: 454px;
$map-g-offset-x: 0px;
$map-g-offset-y: -454px;
$map-g-width: 22px;
$map-g-height: 28px;
$map-g-total-width: 533px;
$map-g-total-height: 482px;
$map-g-image: '../images/sprite.png';
$map-g: (0px, 454px, 0px, -454px, 22px, 28px, 533px, 482px, '../images/sprite.png', 'map-g', );
$ok-name: 'ok';
$ok-x: 355px;
$ok-y: 270px;
$ok-offset-x: -355px;
$ok-offset-y: -270px;
$ok-width: 26px;
$ok-height: 26px;
$ok-total-width: 533px;
$ok-total-height: 482px;
$ok-image: '../images/sprite.png';
$ok: (355px, 270px, -355px, -270px, 26px, 26px, 533px, 482px, '../images/sprite.png', 'ok', );
$personal-g-name: 'personal-g';
$personal-g-x: 22px;
$personal-g-y: 454px;
$personal-g-offset-x: -22px;
$personal-g-offset-y: -454px;
$personal-g-width: 21px;
$personal-g-height: 25px;
$personal-g-total-width: 533px;
$personal-g-total-height: 482px;
$personal-g-image: '../images/sprite.png';
$personal-g: (22px, 454px, -22px, -454px, 21px, 25px, 533px, 482px, '../images/sprite.png', 'personal-g', );
$phone-alt-mobile-name: 'phone-alt-mobile';
$phone-alt-mobile-x: 322px;
$phone-alt-mobile-y: 300px;
$phone-alt-mobile-offset-x: -322px;
$phone-alt-mobile-offset-y: -300px;
$phone-alt-mobile-width: 50px;
$phone-alt-mobile-height: 50px;
$phone-alt-mobile-total-width: 533px;
$phone-alt-mobile-total-height: 482px;
$phone-alt-mobile-image: '../images/sprite.png';
$phone-alt-mobile: (322px, 300px, -322px, -300px, 50px, 50px, 533px, 482px, '../images/sprite.png', 'phone-alt-mobile', );
$phone-alt-name: 'phone-alt';
$phone-alt-x: 200px;
$phone-alt-y: 100px;
$phone-alt-offset-x: -200px;
$phone-alt-offset-y: -100px;
$phone-alt-width: 100px;
$phone-alt-height: 100px;
$phone-alt-total-width: 533px;
$phone-alt-total-height: 482px;
$phone-alt-image: '../images/sprite.png';
$phone-alt: (200px, 100px, -200px, -100px, 100px, 100px, 533px, 482px, '../images/sprite.png', 'phone-alt', );
$phone-w-name: 'phone-w';
$phone-w-x: 474px;
$phone-w-y: 174px;
$phone-w-offset-x: -474px;
$phone-w-offset-y: -174px;
$phone-w-width: 58px;
$phone-w-height: 76px;
$phone-w-total-width: 533px;
$phone-w-total-height: 482px;
$phone-w-image: '../images/sprite.png';
$phone-w: (474px, 174px, -474px, -174px, 58px, 76px, 533px, 482px, '../images/sprite.png', 'phone-w', );
$phone-name: 'phone';
$phone-x: 474px;
$phone-y: 250px;
$phone-offset-x: -474px;
$phone-offset-y: -250px;
$phone-width: 58px;
$phone-height: 76px;
$phone-total-width: 533px;
$phone-total-height: 482px;
$phone-image: '../images/sprite.png';
$phone: (474px, 250px, -474px, -250px, 58px, 76px, 533px, 482px, '../images/sprite.png', 'phone', );
$plant-w-name: 'plant-w';
$plant-w-x: 0px;
$plant-w-y: 300px;
$plant-w-offset-x: 0px;
$plant-w-offset-y: -300px;
$plant-w-width: 91px;
$plant-w-height: 76px;
$plant-w-total-width: 533px;
$plant-w-total-height: 482px;
$plant-w-image: '../images/sprite.png';
$plant-w: (0px, 300px, 0px, -300px, 91px, 76px, 533px, 482px, '../images/sprite.png', 'plant-w', );
$plant-name: 'plant';
$plant-x: 91px;
$plant-y: 300px;
$plant-offset-x: -91px;
$plant-offset-y: -300px;
$plant-width: 91px;
$plant-height: 76px;
$plant-total-width: 533px;
$plant-total-height: 482px;
$plant-image: '../images/sprite.png';
$plant: (91px, 300px, -91px, -300px, 91px, 76px, 533px, 482px, '../images/sprite.png', 'plant', );
$save-w-name: 'save-w';
$save-w-x: 298px;
$save-w-y: 404px;
$save-w-offset-x: -298px;
$save-w-offset-y: -404px;
$save-w-width: 25px;
$save-w-height: 26px;
$save-w-total-width: 533px;
$save-w-total-height: 482px;
$save-w-image: '../images/sprite.png';
$save-w: (298px, 404px, -298px, -404px, 25px, 26px, 533px, 482px, '../images/sprite.png', 'save-w', );
$save-name: 'save';
$save-x: 323px;
$save-y: 404px;
$save-offset-x: -323px;
$save-offset-y: -404px;
$save-width: 25px;
$save-height: 26px;
$save-total-width: 533px;
$save-total-height: 482px;
$save-image: '../images/sprite.png';
$save: (323px, 404px, -323px, -404px, 25px, 26px, 533px, 482px, '../images/sprite.png', 'save', );
$services-alt-mobile-name: 'services-alt-mobile';
$services-alt-mobile-x: 392px;
$services-alt-mobile-y: 308px;
$services-alt-mobile-offset-x: -392px;
$services-alt-mobile-offset-y: -308px;
$services-alt-mobile-width: 50px;
$services-alt-mobile-height: 50px;
$services-alt-mobile-total-width: 533px;
$services-alt-mobile-total-height: 482px;
$services-alt-mobile-image: '../images/sprite.png';
$services-alt-mobile: (392px, 308px, -392px, -308px, 50px, 50px, 533px, 482px, '../images/sprite.png', 'services-alt-mobile', );
$services-alt-name: 'services-alt';
$services-alt-x: 100px;
$services-alt-y: 200px;
$services-alt-offset-x: -100px;
$services-alt-offset-y: -200px;
$services-alt-width: 100px;
$services-alt-height: 100px;
$services-alt-total-width: 533px;
$services-alt-total-height: 482px;
$services-alt-image: '../images/sprite.png';
$services-alt: (100px, 200px, -100px, -200px, 100px, 100px, 533px, 482px, '../images/sprite.png', 'services-alt', );
$services-name: 'services';
$services-x: 0px;
$services-y: 100px;
$services-offset-x: 0px;
$services-offset-y: -100px;
$services-width: 100px;
$services-height: 100px;
$services-total-width: 533px;
$services-total-height: 482px;
$services-image: '../images/sprite.png';
$services: (0px, 100px, 0px, -100px, 100px, 100px, 533px, 482px, '../images/sprite.png', 'services', );
$time-w-name: 'time-w';
$time-w-x: 329px;
$time-w-y: 270px;
$time-w-offset-x: -329px;
$time-w-offset-y: -270px;
$time-w-width: 26px;
$time-w-height: 26px;
$time-w-total-width: 533px;
$time-w-total-height: 482px;
$time-w-image: '../images/sprite.png';
$time-w: (329px, 270px, -329px, -270px, 26px, 26px, 533px, 482px, '../images/sprite.png', 'time-w', );
$twitter-name: 'twitter';
$twitter-x: 211px;
$twitter-y: 404px;
$twitter-offset-x: -211px;
$twitter-offset-y: -404px;
$twitter-width: 31px;
$twitter-height: 32px;
$twitter-total-width: 533px;
$twitter-total-height: 482px;
$twitter-image: '../images/sprite.png';
$twitter: (211px, 404px, -211px, -404px, 31px, 32px, 533px, 482px, '../images/sprite.png', 'twitter', );
$spritesheet-width: 533px;
$spritesheet-height: 482px;
$spritesheet-image: '../images/sprite.png';
$spritesheet-sprites: ($bocina, $box-s-g, $box-s-w, $box-s, $box-w, $box, $calendar-g, $calendar, $car-alt-mobile, $car-alt, $car-s-g, $car-s-w, $car-s, $car-w, $car, $check, $clean-w, $clean, $config-w, $config, $domain-logo, $email, $facebook, $fire-s-g, $fire-s-w, $fire-s, $fire-w, $fire, $flag, $globe-w, $globe, $googleplus, $light-s-g, $light-s-w, $light-s, $light-w, $light, $linkedin, $lock-alt-mobile, $lock-alt, $lock, $logo-alt, $logo, $map-g, $ok, $personal-g, $phone-alt-mobile, $phone-alt, $phone-w, $phone, $plant-w, $plant, $save-w, $save, $services-alt-mobile, $services-alt, $services, $time-w, $twitter, );
$spritesheet: (533px, 482px, '../images/sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
