$icon-font-path: '../fonts/';

// bower:scss
@import "client/web/bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
}

.col-xs-15 {
  width: 20%;
  float: left;
}
@media (min-width: 768px) {
  .col-sm-15 {
    width: 20%;
    float: left;
  }
}
@media (min-width: 992px) {
  .col-md-15 {
    width: 20%;
    float: left;
  }
}
@media (min-width: 1200px) {
  .col-lg-15 {
    width: 20%;
    float: left;
  }
}

@import "sprite";
@import "colors";
@import "vars";

@import "home";

@font-face {
  font-family: 'bpreplaybold';
  src: url('/fonts/bpreplaybold-webfont.eot');
  src: url('/fonts/bpreplaybold-webfont.eot?#iefix') format('embedded-opentype'),
  url('/fonts/bpreplaybold-webfont.woff2') format('woff2'),
  url('/fonts/bpreplaybold-webfont.woff') format('woff'),
  url('/fonts/bpreplaybold-webfont.ttf') format('truetype'),
  url('/fonts/bpreplaybold-webfont.svg#bpreplaybold') format('svg');
  font-weight: normal;
  font-style: normal;

}

html {
   font-size:62.5%;
}

body {
  font-size: 1.4rem;
}


main {
  background-color: $bg-color;
  color: $base-black;
  font-size: 1.4rem;
  padding-bottom: 5rem;
}

.hs-nobackground {
  background: none;
  padding-bottom: 0rem;

}
